<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419364246861-7jsrg40qgarhku2hlt0bp6mm6mq9r212.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419364246861-7jsrg40qgarhku2hlt0bp6mm6mq9r212</string>
	<key>API_KEY</key>
	<string>AIzaSyDCB_IGwH1KqiEuYL6mTCAsE2BlujcKCqE</string>
	<key>GCM_SENDER_ID</key>
	<string>419364246861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.src</string>
	<key>PROJECT_ID</key>
	<string>parkaholic-d1d2f</string>
	<key>STORAGE_BUCKET</key>
	<string>parkaholic-d1d2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419364246861:ios:5a8c5b19513262f73e5304</string>
</dict>
</plist>